@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
$font-family-sans-serif: "Manrope", sans-serif;
$font-size-base: 0.9rem;
// headline
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$headings-font-weight: 500;

$body-bg: #f8f9fa;
$table-bg: #fff;
@import "~bootstrap/scss/bootstrap";

/* aside {
  background-color: #fff;
  padding: 20px;
  text-align: left;
  border-right: 1px solid #e0e0e0;
  height: 100vh;
  position: fixed;
  width: 200px;
  top: 100px;
  left: 0;
  z-index: 100;
} */
/* aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
aside nav ul li {
  padding: 10px 0;
}
aside nav ul li a {
  text-decoration: none;
  color: #777;
  display: inline-block;
}
aside nav ul li a.active,
aside nav ul li a:hover {
  color: black;
}
aside nav ul li a + span {
  margin-left: 10px;
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 10px;
  font-size: 0.8rem;
} */

.navbar {
  height: 4rem;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(100vh - 4rem);
  bottom: 0;
}
// :root {
//   --bs-body-bg: #f8f9fa;
//   --bs-table-bg: #fff;
// }
